[Unit]
Description=A tool for securing communications between a client and a DNS resolver (backup).
After=network.target
Wants=network.target
PartOf=dnscrypt-proxy.service
# Only needed if you use pdnsd, other caching DNS servers can go here. Could be ignored too.
#Before=pdnsd.service

[Service]
EnvironmentFile=/etc/conf.d/dnscrypt-config
ExecStart=/usr/bin/dnscrypt-proxy \
	 --user=${DNSCRYPT_USER} \
	 --ephemeral-keys \
	 --resolver_name=${DNSCRYPT_RESOLVER2} \
	 --local-address=${DNSCRYPT_LOCALIP2}:${DNSCRYPT_LOCALPORT2}
Restart=on-abort

[Install]
WantedBy=multi-user.target
