[Unit]
Description=A tool for securing communications between a client and a DNS resolver.
After=network.target
Wants=network.target dnscrypt-proxy-backup.service
# Only needed if you use pdnsd, other caching DNS servers can go here. Could be ignored too.
#Before=pdnsd.service

[Service]
EnvironmentFile=/etc/conf.d/dnscrypt-config
ExecStart=/usr/local/sbin/dnscrypt-proxy \
	 --user=${DNSCRYPT_USER} \
	 --ephemeral-keys \
	 --resolver_name=${DNSCRYPT_RESOLVER} \
	 --local-address=${DNSCRYPT_LOCALIP}:${DNSCRYPT_LOCALPORT}
Restart=on-abort

[Install]
WantedBy=multi-user.target
